<script setup lang="ts">
import { ref } from 'vue';

const awesome = ref(true)
function yeet(){
    awesome.value = !awesome.value
}
</script>
<template>
    <br/>
    <button @click="yeet">Yeet!{{ awesome }}</button>
    <h1 v-if="awesome">Vue is awesome!</h1>
    <h1 v-else>Oh no</h1>
</template>
<style scoped></style>
